
<div class="col-md-12" style="display: flex;">
    <div class="col-md-3">  
        <!-- <input type="button" [(ngModel)]="button_click" value="ShipLayer" (click)="ShipLayer()">      -->
        <!-- <input type="button" [(ngModel)]="button_click" value="WindSpeed" (click)="WindSpeed()">    
        <input type="button" [(ngModel)]="button_click" value="HeatMapWind" (click)="HeatMapWind()">    
        <input type="button" [(ngModel)]="button_click" value="WaveHeight" (click)="WaveHeight()">    
        <input type="button" [(ngModel)]="button_click" value="HeatMapWave" (click)="HeatMapWave()">    
        <input type="button" [(ngModel)]="button_click" value="IMD" (click)="IMD()">    
        <input type="button" [(ngModel)]="button_click" value="HeatMapCurrentSpeed" (click)="HeatMapCurrentSpeed()">    
        <input type="button" [(ngModel)]="button_click" value="CurrentSpeed" (click)="CurrentSpeed()"> -->
        <h3 style="font-weight: bold;margin-bottom:0px;">LRIT</h3>
        <mat-slide-toggle [(ngModel)]="button_click1" (change)="ShipLayer()" style="margin-bottom: 10px;">ShipLayer</mat-slide-toggle> 
        <mat-slide-toggle [(ngModel)]="button_click2" (change)="WindSpeed()" style="margin-bottom: 10px;">WindSpeed</mat-slide-toggle> 
        <hr style="margin-right: 10px;">
        <h3 style="font-weight: bold;margin-bottom:0px;">INCOIS</h3>
        <mat-slide-toggle [(ngModel)]="button_click3" (change)="HeatMapWind()" style="margin-bottom: 10px;">HeatMapWind</mat-slide-toggle> 
        <mat-slide-toggle [(ngModel)]="button_click4" (change)="WaveHeight()" style="margin-bottom: 10px;">WaveHeight</mat-slide-toggle> 
        <hr style="margin-right: 10px;">
        <h3 style="font-weight: bold;margin-bottom:0px;">IMD</h3>
        <mat-slide-toggle [(ngModel)]="button_click5" (change)="HeatMapWave()" style="margin-bottom: 10px;">HeatMapWave</mat-slide-toggle> <br/>
        <mat-slide-toggle [(ngModel)]="button_click6" (change)="IMD()" style="margin-bottom: 10px;">IMD</mat-slide-toggle> 
        <hr style="margin-right: 10px;">
        <h3 style="font-weight: bold;margin-bottom:0px;">Windy</h3>
        <mat-slide-toggle [(ngModel)]="button_click7" (change)="HeatMapCurrentSpeed()" style="margin-bottom: 10px;">HeatMapCurrentSpeed</mat-slide-toggle> 
        <mat-slide-toggle [(ngModel)]="button_click8" (change)="CurrentSpeed()" style="margin-bottom: 10px;">CurrentSpeed</mat-slide-toggle> 
        <hr style="margin-right: 10px;">
      </div> 


    
    <div class="col-md-9" id="map" style="height: 680px; width: 1310px;">
      <div>

        <main>
          <div class="left-bar" style="margin-left: -7%;"></div>
          <div id="ol-map" class="map-container">
        <div class="btn-group" id="HorzButtonMap">
        
              <!--<button type="button" id="zoompercent" title="Percentage Zoom"
                class="btn btn-sm gisHorzButton" data-toggle="modal"
                data-target="#modal-default">
                <i class="fa fa-search"></i>
                </button> -->
              <button type="button" id="zoomin" title="Zoom In"
                class="btn btn-sm gisHorzButton"
                (click)="this.map.getView().setZoom((this.map.getView().getZoom())+1)"
                >
                <i class="fa fa-search-plus"></i>
              </button>
              
              <button type="button" id="zoomout" title="Zoom Out"
                class="btn btn-sm gisHorzButton"
                (click)="this.map.getView().setZoom((map.getView().getZoom()) - 1)"	>
                <i class="fa fa-search-minus"></i>
              </button>
              <!--<button type="button" title="Lock Pan" id="enablePanButton"
                class="btn btn-sm gisHorzButton " (click)="enablePan()">
                <i class="fa fa-hand-rock-o" ></i>
              </button> -->
              <button type="button" title="Zoom To Extent" id="extentButton" 
                class="btn btn-sm gisHorzButton" (click)="this.zoomToExtent()">
                <i class="fa fa-search" ></i></button>
              <!--
              <button type="button" title="Refresh" id="refresh"
                class="btn btn-sm gisHorzButton" (click)="removeAllLayersRefresh()">
                <i class="fa fa-refresh" ></i>
              </button> -->
              <button type="button" title="Rectangle Zoom" id="rectZoom"
                class="btn btn-sm gisHorzButton" (click)="this.toggleRectZoom()">
                <i class="fa fa-square-o" ></i>
              </button>
              <!--<button type="button" title="Key Map" id="keymap"
                class="btn btn-sm gisHorzButton" (click)="keyMap()">
                <i class="fa fa-key" ></i>
              </button>-->
              <button type="button" title="Grid" id="horzGrid"
                class="btn btn-sm gisHorzButton" (click)="horzGridOnMap()">
                <i class="fa fa-th" ></i>
              </button> 
              <div class="pull-right" Style="padding-left:180px;" id="ringDistanceInfo">					
              </div>
              <div class="pull-right" Style="padding-left:180px;" id="onlyDistanceInfo">					
              </div>
              <div class="pull-right" Style="padding-left:180px;" id="replayControlPanel">					
              </div>
            </div>	</div>				
        </main>
      </div>
    </div>
</div>







