
    <div class="row" >
        <div class="col-md-12" style="display: flex ;">
      <div class="col-md-2" style="border: 1px solid;">
        Column
      </div>
      <div class="col-md-8" style="border: 1px solid;">
        Column
      </div>
      <div class=" col-md-1" style="border: 1px solid;">
        <div class="row" >
            <div class="col-md-2" style=" height: 200px;">
              <img src="../../assets/mmdac-imgs/Right1.png"alt="">
            </div>
        </div>
        <div class="row" >
            <div class="col-md-2" style="">
                <img src="../../assets/mmdac-imgs/Right2.png"alt="">
            </div>
        </div>
        <div class="row" >
            <div class="col-md-2">
                <img src="../../assets/mmdac-imgs/Right3.png"alt="">
            </div>
        </div>
      </div>
    </div>
    </div>

